{% extends 'calvin/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
<div class="cvbox">

    My name is Calvin Hew, I am from Scotland and 23 years old this year.
    <br/>

    <br/>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank">
            <img src="{% static "images/dougal.jpg" %}">
            </a>
        <div class="desc">This was my beloved dog, Dougal</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank">
            <img src="{% static "images/dougal2.jpg" %}">
            </a>
        <div class="desc">Unfortunately he passed away earlier this year</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank">
            <img src="{% static "images/gf.jpg" %}">
            </a>
        <div class="desc">This is my girlfriend, Vanessa</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank">
            <img id="crop2" src="{% static "images/gf2.jpg" %}">
            </a>
        <div class="desc">She's Canadian & I met her during my exchange!</div>
        </div>
        <br/>
    </div>


    <div>
    <p>
        <h3>Interests</h3>
      <p>
          In terms of the field of research I am most interested in,
          the advancements in VR and AR technologies are ones I find to be most fascinating.
          In particular, the applications used within entertainment (such as Video Games) are simply
          mind-blowing! To be able to create a level of immersion that previously only existed
          in fiction is such an incredible feat.  In addition to this, I have developed an interest in
          robotics upon completing my Masters Final Project.  With advancements in AI and
          the ability to replicate human-like qualities, I find myself excited to see what the future holds for the robotics field.
      </p>
      <p>
          Outside of technology, I like to go for runs (on a sunny day), watch anime or
          learn some songs.  My anime taste isn't the greatest but I like some emotional
          stories like Clannad and Little Busters! I am currently really into soul and
          gospel music but my first love was RnB back in the 2000s. I can play piano, guitar and sing.
          I used to also play the flute in secondary school but probably cannot remember
          how to do it anymore... I would say I am quite big into fashion and like to keep up with styles from all over the world.
          If I have a bit more free time, I do enjoy playing video games and playing tennis
          (again if the sun is out).
      </p>
    </p>
    </div>


    <div class="responsive">
        <div class="gallery">
            <a target="_blank">
            <img onclick="openModal();currentSlide(1)" class="hover-shadow cursor"
                src="{% static "images/camphuronda.jpg" %}">
            </a>
        <div class="desc">Art Gallery Opening at Camp Huronda</div>
        </div>
    </div>


    <div class="responsive">
        <div class="gallery">
            <a target="_blank">
            <img onclick="openModal();currentSlide(2)" class="hover-shadow cursor"
                 src="{% static "images/camphuronda2.jpg" %}">
            </a>
        <div class="desc">Outdoor drawing lesson at Camp Huronda</div>
        </div>
    </div>


    <div class="responsive">
        <div class="gallery">
            <a target="_blank">
            <img onclick="openModal();currentSlide(3)" class="hover-shadow cursor"
                src="{% static "images/camphuronda3.jpg" %}">
            </a>
        <div class="desc">My Camp Huronda Cabin Campers</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank">
            <img onclick="openModal();currentSlide(4)" class="hover-shadow cursor"
                 src="{% static "images/camphuronda4.jpg" %}">
            </a>
        <div class="desc">Art Lesson underway at Camp Huronda</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank">
            <img onclick="openModal();currentSlide(5)" class="hover-shadow cursor"
                 id="crop" src="{% static "images/baxter.jpg" %}">
            </a>
        <div class="desc">Testing my Teleoperation System on Baxter</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank">
            <img onclick="openModal();currentSlide(6)" class="hover-shadow cursor"
                 id="crop" src="{% static "images/hp.jpg" %}">
            </a>
        <div class="desc">I am fan of the Harry Potter movies!</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank">
            <img onclick="openModal();currentSlide(7)" class="hover-shadow cursor"
                 src="{% static "images/piano.jpg" %}" >
            </a>
        <div class="desc">Just testing out the restored piano</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank">
            <img onclick="openModal();currentSlide(8)" class="hover-shadow cursor"
                 src="{% static "images/guitar.jpg" %}">
            </a>
        <div class="desc">Focusing on finding the right chords</div>
        </div>
    </div>

    <div id="myModal" class="modal">
        <span class="close cursor"
              onclick="closeModal()">&times;</span>
        <div class="modal-content">

        <div class="mySlides">
            <div class="numbertext">1 / 8</div>
            <img src="{% static "images/camphuronda.jpg" %}" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 8</div>
            <img src="{% static "images/camphuronda2.jpg" %}" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 8</div>
            <img src="{% static "images/camphuronda3.jpg" %}" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 8</div>
            <img src="{% static "images/camphuronda4.jpg" %}" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 8</div>
            <img src="{% static "images/baxter.jpg" %}" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 8</div>
            <img src="{% static "images/hp.jpg" %}" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">7 / 8</div>
            <img src="{% static "images/piano.jpg" %}" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">8 / 8</div>
            <img src="{% static "images/guitar.jpg" %}" style="width:100%">
        </div>


        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
    </div>


    <div class="clearfix"></div>

</div>

    <script type="text/javascript" src="{% static 'myjs.js' %}"></script>


{% endblock %}