<!DOCTYPE html>
{% load staticfiles %}
{% load calvin_template_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel='stylesheet' href='{% static "mystylesheet.css" %}'>

    <title>
        Calvin's Website -
        {% block title_block %}
            Welcome!
        {% endblock %}
    </title>
</head>

<body>
    <div class="navbar">
        <ul>
            <li class="nav"><a class="navtab" href="{% url 'index' %}">Home</a></li>
            <li class="nav"><a class="navtab" href="{% url 'about' %}">About</a></li>
            <li class="nav"><a class="navtab" href="{% url 'projects' %}">Projects</a></li>
            <li class="nav"><a class="navtab" href="{% url 'cv' %}">CV</a></li>
            <li class="nav"><a class="navtab" href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <br/>
    </div>

    <br/>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>


</body>
</html>