{% extends 'calvin/base.html' %}
{% load staticfiles %}
{% load calvin_template_tags %}


{% block body_block %}

    <div class="projectbar">
        <ul>
        {% get_category_list category %}
    </ul>

    <div class="projectbox">
    {% if category %}
        <h1>{{ category.name }}</h1>
        <br/>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <p>
                        <h5>{{ page.title }}</h5>
                        <a class="link" href="{{ page.url }}">Github code</a>
                        {% if page.video %}
                            <a class="link" href="{{ page.video }}">
                            YouTube video</a>
                        {% endif %}
                    <br />
                    </p>

                    <p>
                    {{ page.description }}
                    </p>

                {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in Category</strong>
        {% endif %}

    {%  else %}
        The specified category does not exist!
    {% endif %}
    </div>

    </div>


{% endblock %}