{% extends 'calvin/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Contact
{% endblock %}

{% block body_block %}
    <div class="box">
        <h5>Contact Details</h5>


        <div>
            email: <a href="kite.hew@gmail.com">kite.hew@gmail.com</a>
        </div>
        <br/><br/>

        <div>
            mobile: 07707064603
        </div>


        <p>
        <ul>
            <li class="nav"><a class= "navtab" href="https://www.linkedin.com/in/ryomaechizen/">
                <div id="iconsize">
                    <i class="fab fa-linkedin"></i>LinkedIn
                </div></a>
            </li>

            <li class="nav"><a class= "navtab" href="https://www.facebook.com/calvynhew">
                <div id="iconsize">
                    <i class="fab fa-facebook"></i>Facebook
                </div></a>
            </li>

            <li class="nav"><a class= "navtab" href="https://www.instagram.com/ryomaechizen/">
                <div id="iconsize">
                    <i class="fab fa-instagram"></i>Instagram
                </div></a>
            </li>
        </ul>
        </p>
    </div>

{% endblock %}