{% extends 'calvin/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Contact
{% endblock %}

{% block body_block %}
    <div>
        <div>
            <h3>Contact Details</h3>
        </div>

        <div>
            email: kite.hew@gmail.com
            <a href="https://www.linkedin.com/in/ryomaechizen/">LinkedIn</a>,
            <a href="https://www.facebook.com/calvynhew">Facebook</a> &
            <a href="https://www.instagram.com/ryomaechizen/">Instagram</a>
        </div>

    </div>

{% endblock %}