{% extends 'calvin/base.html' %}
{% load staticfiles %}

{% block title_block %}

    Home
{% endblock %}

{% block body_block %}

    <div class="box">
        <img src="{% static "images/profile.jpg" %}" class="box-img">
        <h1>Calvin Hew</h1>
        <h5>Graduate Software Developer</h5>
        <p>
            Hello! Welcome to my personal website. I recently just graduated
            from my MSc Software Development course so I am currently looking to
            start my career in programming.  When I am not in front of a computer,
            I like to learn songs & go for runs! A lot of my code, including this
            website, is found on my <a href="https://github.com/flightlesskite/">GitHub</a>.

        </p>

        <ul>
            <li><a href="/calvin/category/python-projects"><i class="fab fa-python"></i></a></li>
            <li><a href="/calvin/category/java-projects"><i class="fab fa-java"></i></a> </li>
            <li><a href="/calvin/category/other-projects"><i class="fas fa-pencil-alt"></i></a></li>
        </ul>

    </div>

{% endblock %}