{%  extends 'calvin/base.html' %}
{%  load staticfiles %}
{%  load calvin_template_tags %}

{% block title_block %}
    Projects
{% endblock %}

{% block body_block %}

    <div class="projectbar">
        {% if categories %}
        <ul>
            {% for category in categories %}
                <li class="nav">
                <a class="navtab" href="/calvin/category/{{ category.slug }}">
                    <div>{{ category.name }}
                        <p><img class="icon" src="/{{ category.image }}"></p>
                    </div>
                </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {%  endif %}
    </div>

{% endblock %}