body{
    margin: 0;
    padding: 0;
    background: url('/static/images/bg.jpg');
    background-color: black;
    background-position: center;
    font-family: 'Century Gothic', sans-serif;
    color: white;
    letter-spacing: 2px;
    font-weight: 100;

}

.box{
    width: 450px;
    background: rgba(0, 0, 0 ,0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 0%;
    color: white;
}

.box-img{
    border-radius: 50%;
    width:200px;
    height:200px ;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p{
    text-align: justify;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover{
    color: #b9b9b9;
}

.quicklink ul{
    margin: 0;
    padding: 0;
}

.projectbar {
    width: 800px;
    padding: 40px;
    margin: auto;
    margin-top: 0%;
    color: white;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.projectbox{
    text-align: left;
}

.projectbox h1{
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 100;
}

.projectbox h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

img.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.cvbox{
    width: 900px;
    background: rgba(0, 0, 0 ,0.4);
    padding: 40px;
    text-align: left;
    margin: auto;
    margin-top: 0%;
    color: white;
}

#highlight{
    font-weight: 300;
}

.navbar {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}


li.nav {
    display: inline-block;
}

li a.navtab {
    letter-spacing: 3px;
    font-weight: 100;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.highlighted {
    letter-spacing: 3px;
    font-weight: 100;
    display: block;
    background-color: white;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.navtab:hover {
    color: #b9b9b9;
}

a.link{
    letter-spacing: 3px;
    font-weight: 100;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 25px;
    text-decoration: none;
}


div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 1000px) {
    .responsive {
        width: 33.33333%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 600px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}